{
    "plugins": [
        [
            "babel-plugin-styled-components",
            {
                "ssr": false
            }
        ],
        "inline-react-svg"
    ],
    "presets": ["next/babel", "@babel/preset-typescript"]
}
